@model Product

<form asp-action="Update" method="post" enctype="multipart/form-data">
	<h2>Cập nhật sản phẩm</h2>
	<hr />
	<input asp-for="Id" type="hidden" />
	<div class="row">
		<div class="col-md-4">
			@if (!string.IsNullOrEmpty(Model.ImageUrl))
			{
				<img src="/@Model.ImageUrl" style="width:300px" id="previewImage" />
			}
		</div>
		<div class="col-md-8">
			<div class="form-group pb-2">
				<label>Tên sản phẩm</label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group pb-2">
				<label>Mô tả</label>

<textarea asp-for="Description" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group pb-2">
				<label>Giá</label>
				<input asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="form-group pb-2">
				<label>Thể loại</label>
				<select asp-for="CategoryId" asp-items="@ViewBag.CategoryList" class="form-control">
					<option disabled selected>=== Chọn thể loại ===</option>
				</select>
				<span asp-validation-for="CategoryId" class="text-danger"></span>
			</div>
			<div class="form-group pb-2">
				<label>Ảnh minh họa</label>
				<input type="file" name="ImgFile" class="form-control" />
			</div>
			<button type="submit" class="btn btn-primary"> Cập nhật </button>
			<a asp-action="Index" class="btn btn-secondary">Về trang quản lý</a>
		</div>
	</div>
</form>