@model List<Product>
@{
	var categoryList = ViewBag.CategoryList;
}

<div class="row">
	<div class="col-md-3 border-5">
		<ul class="list-group">
			<li class="bg-primary list-group-item d-flex justify-content-between align-items-center">DANH MỤC THỂ LOẠI</li>
			@foreach (var c in categoryList)
			{
				<li class="list-group-item d-flex justify-content-between align-items-center categoryList" href="/customer/shopping/category?Id=@c.CategoryId">
					@c.CategoryName
					<span class="badge text-bg-primary rounded-pill">@c.ProductCount</span>
				</li>
			}
		</ul>
	</div>

	<div class="col-md-9 row productByCatId">
		@foreach (var p in Model)
		{
			<div class="col-4 productCardByCatId text-center">
				<div class="card m-1 bg-primary" style="border-radius:10px;">
					<div class="card-body">
						<h5 class="card-title">@p.Name</h5>
					</div>
					@if (p.ImageUrl != null)
					{
						<img src="/@p.ImageUrl" class="card-img-top container" alt="@p.Name" style="height: 250px; object-fit: contain;">
					}
					<p style="margin-top:1rem;">1000000 vnđ</p>
					<div class="card-body">
						<a href="#" class="btn btn-secondary">Chi tiết</a>
						<a href="#" class="btn btn-danger">Thêm vào giỏ</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>