<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AYPHONES</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
	<script type="text/javascript" src="~/js/particle.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg bg-primary mb-3" data-bs-theme="dark">
			<div class="container" style="padding:0 70px;">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse container" id="navbarColor01">
					<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AYPHONES</a>
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
						</li>
						@if (!User.IsInRole("Admin") && !User.IsInRole("Employee"))
						{
							<li class="nav-item">
								<a class="shopping nav-link" href="/customer/shopping">Mua sắm</a>
							</li>
						}
						@if (User.IsInRole("Admin"))
						{
							<li class="nav-item">
								<a class="pagedProducts nav-link" href="/Admin/Product?page=1">Quản lý sản phẩm</a>
							</li>
							<li class="nav-item">
								<a class="categories nav-link" href="/Admin/Category">Quản lý thể loại</a>
							</li>
						}
					</ul>

					<partial name="_LoginPartial" />

				</div>
			</div>
		</nav>
	</header>

	<div class="container contents">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>


	<div id="notification" style="display:none;" class="notification-fixed">
		Thông báo đã được gửi!
	</div>

	<footer class="border-top footer text-muted mt-3">
		<hr />

		<input id="productCount" type="hidden" value="@ViewBag.ProductCount" />

		<div class="container mt-3 mb-3">
			&copy; 2025 - AYPHONES - <a href="#">Điều khoản & Dịch vụ</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await Html.PartialAsync("~/areas/admin/views/product/_AddProductModal.cshtml", ViewData["Categories"])
	@await Html.PartialAsync("~/areas/admin/views/category/_AddCategoryModal.cshtml", ViewData["Categories"])

	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
