@model Category
<form id="UpdateCategoryForm" method="post">
	<input type="hidden" name="Id" value="@Model.Id" />
	<h2>Cập nhật thể loại</h2>
	<hr />
	<div class="form-group">
		<label>Tên thể loại</label>
		<input type="text" name="Name" class="form-control" value="@Model.Name" />

		<span id="errNameUpdateTL" class="text-danger small"></span>
	</div>
	<div class="form-group">
		<label>Thứ tự hiển thị</label>
		<input type="text" name="DisplayOrder" class="form-control" value="@Model.DisplayOrder" />
		<span id="errDisUpdateTL" class="text-danger small"></span>
	</div>
	<div class="mt-2">
		<button type="submit" id="btnUpdateTL" class="btn btn-secondary" data-bs-dismiss="modal">Cập nhật</button>
		<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Thoát</button>
	</div>
</form>