@model List<Category>

<partial name="_Notification" />

<div class="row">
	<div class="col-md-6">
		<h2>DANH MỤC THỂ LOẠI</h2>
	</div>
	<div class="col-md-6 text-right">
		<button id="btnThem" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
			<i class="bi bi-plus-circle-fill"></i> Thêm mới
		</button>
	</div>
</div>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Tên</th>
			<th>STT</th>
			<th>Tùy chọn</th>
		</tr>

	</thead>
	<tbody>
		@foreach (var x in Model)
		{
			<tr>
				<td>@x.Name</td>
				<td>@x.DisplayOrder</td>
				<td>
					<a asp-action="Update" asp-route-id="@x.Id" class="btn btn-primary">
						<i class="bi bi-pencil-square"></i> Sửa
					</a>
					<button Id="@x.Id" class="btn btn-danger btnDeleteTL">
						<i class="bi bi-trash"></i> Xóa
					</button>
				</td>
			</tr>
		}
	</tbody>
</table>

<p id="thongBaoXoaTL" style="font-size: x-large; margin-top:10px; margin-bottom:0;"></p>

