@{
	ViewData["Title"] = "Home Page";
}

@model List<Product>;

<section class="particles pb-2 pt-md-5 pb-md-5 mb-3">
	<div class="container">
		<div class="row overflow-hidden">
			<div class="col-md-12 col-lg-12 text-center text-white aos-init aos-animate"
				 data-aos="fade-right" data-aos-delay="50">
				<h3 class="title-hero text-white text-uppercase text-neon">WELCOME TO AYPHONES</h3>
				<h2 class="title-hero text-white text-uppercase text-neon" style="font-weight:700;">
					CỬA HÀNG AI PHÔN GIÁ SIÊU RẺ
				</h2>
			</div>
		</div>
	</div>
	<div id="particles-js"></div>
</section>

<section id="products">
	<div class="row productList">
	</div>
</section>

<div class="text-center mt-5">
	<button type="button" class="btn btn-secondary btn-lg showMoreBtn">Hiển thị thêm</button>
</div>

@section Scripts {
	<script>
		//particles
		particlesJS.load('particles-js', './particles.json', function () {
			console.log('callback - particles.js config loaded');
		});

		//showmore button
		const take = 6;
		let skip = 0;
		var productCount = $("#productCount").val();
		var divCount = 0;

		function loadMore() {
			$.get("/Home/LoadMore", { skip: skip, take: take }, function (data) {
				$(".productList").append(data);
				skip += take;
				divCount = $(".productList .productCard").length;
				if (divCount == productCount) {
					$(".showMoreBtn").hide();
				}
			});
		};

		$(document).ready(function () {
			loadMore();
			$(".showMoreBtn").on("click", function () {
				loadMore();
			});
		});
	</script>
}