@{
	ViewData["Title"] = "Home Page";
}

<section class="particles pb-2 pt-md-5 pb-md-5">
	<div class="container">
		<div class="row overflow-hidden">
			<div class="col-md-12 col-lg-12 text-center text-white aos-init aos-animate"
				 data-aos="fade-right" data-aos-delay="50">
				<h2 class="title-hero text-white text-uppercase text-neon">
					WELCOME TO ENTITY FRAMEWORK CORE
				</h2>
			</div>
		</div>
	</div>
	<div id="particles-js"></div>
</section>

