<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<form id="addCategoryForm">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Thêm mới thể loại</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
				</div>

				<div class="modal-body">
					<div class="mb-3">
						<label for="Name" class="form-label">Tên thể loại</label>
						<input id="Name" type="text" name="Name" class="form-control" />
						<span id="errName" class="text-danger small"></span>
					</div>
					<div class="mb-3">
						<label for="DisplayOrder" class="form-label">Thứ tự hiển thị</label>
						<input id="DisplayOrder" type="text" name="DisplayOrder" class="form-control" />
						<span id="errDis" class="text-danger small"></span>
					</div>

					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Lưu</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>